<!doctype html>
<html>
	<head>
		<meta charset="utf8" />
		<title><%= title %></title>
		<link href="/lesson1.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<%- include('./partials/headline.ejs') %>
	</body>
</html>